/* styles.css */

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center;
  min-height: 100vh;
}

#todo-list {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
}

h1 {
  font-size: 24px;
  text-align: center;
  margin: 0; /* Remove top margin */
  color: #333;
}

input[type="text"] {
  width: calc(100% - 50px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  width: 100%; /* Set width to 100% */
}

.completed {
  text-decoration: line-through;
  color: #888;
}

.delete-btn {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 40px;
  cursor: pointer;
  margin-left: auto; /* Align to the right */
}

.delete-btn:hover {
  background-color: #c82333;
}
